<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA6B-90ryhtE8vh8Tv7oiyw9UCgd1ctmv4</string>
	<key>GCM_SENDER_ID</key>
	<string>843237037706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.development</string>
	<key>PROJECT_ID</key>
	<string>chips-dev-a0ceb</string>
	<key>STORAGE_BUCKET</key>
	<string>chips-dev-a0ceb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:843237037706:ios:de26a041120c53bf39bf73</string>
</dict>
</plist>